<div class="{{styles.chat}}">
    <div>
        <img src="" alt="">
        <div>
            <p></p>
            <p></p>
        </div>
        <div>
            <p></p>
            <span></span>
        </div>
    </div>
</div>