@import '../../styles/constants.scss';

.backBlock {
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 100vh;
    background-color: $colot-white-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.6;
    }
}

.backButton {
    background-color: $color-blue;
    color: $color-white;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}
