@import "../../styles/constants.scss";
@import "../../styles/mixins.scss";

.chat {
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  padding: 10px 20px 10px 31px;
  align-items: center;
  border-bottom: 2px solid $colot-white-gray;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 34px;
  height: 34px;
}

.firstName {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}

.settingsButton {
  margin-left: auto;
  border: none;
  background-color: rgba($color: $color-black, $alpha: 0);

  &:hover {
    opacity: 0.7;
  }
}

.container {
  height: calc(100vh - 189px);
  padding: 30px 20px 30px 31px;
  overflow-y: scroll;
}

.messageOwner {
  max-width: 410px;

  padding: 15px;
  margin-left: auto;
  margin-bottom: 10px;
  border: 1px solid $colot-white-gray;
  background-color: $color-light-white;
  border-radius: 12px;
  position: relative;
}

.messageText {
  margin: 0;
}

.time {
  position: absolute;
  bottom: 0;
  right: 11px;
  width: 23px;
  height: 9px;
  font-size: 9px;
  color: $color-gray;
}

.inputBlock {
  position: absolute;
  bottom: 0;
  padding: 11px 20px 11px 31px;
  display: flex;
  align-items: center;
  width: calc(100vw - 354px);
  border-top: 2px solid $colot-white-gray;
}

.documentButton {
  border: none;
  background-color: rgba($color: $color-black, $alpha: 0);

  &:hover {
    opacity: 0.6;
  }
}

.input {
  width: 100%;
  max-width: 1149px;
  border: none;
  background-color: rgba($color: #000000, $alpha: 0);

  &:focus {
    outline: none;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
  max-width: 1149px;
  background-color: $colot-white-gray;
  border-radius: 30px;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.buttonSend {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: $color-gray;
  color: $color-black;
  font-weight: 600;
  margin-left: auto;

  &:hover {
    opacity: 0.6;
  }
}

.textError {
  @include text-error-styles;
  text-align: right;
}

.buttonSendActive {
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $color-blue;
  color: $color-white;
  font-weight: 600;
  margin-left: auto;

  &:hover {
    opacity: 0.6;
  }
}
