.profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }
}

.name {
  margin-top: 21px;
  font-weight: 600;
  font-size: 16px;
}

.inputsBlock {
  display: flex;
  min-width: 510px;
  flex-direction: column;
  margin-top: 50px;
}

.inputBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}

.inputName {
  font-weight: 500;
  font-size: 13px;
}

.input {
  border: none;
  text-align: right;

  font-weight: 500;
  font-size: 13px;
  color: #999;
  background-color: rgba($color: #000000, $alpha: 0);
}

.buttons {
  width: 510px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: rgba($color: #000000, $alpha: 0);
  border: none;
  font-weight: 500;
  font-size: 13px;
  width: fit-content;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:hover {
    opacity: 0.5;
  }
}

.buttonBlue {
  color: #3369f3;
}

.buttonRed {
  color: #f00;
}

.backBlock {
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.6;
    }
}

.backButton {
    background-color: #3369f3;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}