$color-gray: #999;
$color-black: #000000;
$color-light-black: #1e1e1e;
$color-dark-blue: #223c50;
$color-white: #ffffff;
$color-blue: #3369f3;
$color-red: #f00;
$color-light-red: #ff2f2f;
$colot-white-gray: #eaeaea;
$color-light-white: #E4EDFD;
