@import "../../../styles/mixins.scss";
@import "../../../styles//constans.scss";

.forgotPassword {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;

  &:hover {
    opacity: 0.6;
  }
}

.inputsBlock {
  display: flex;
  min-width: 510px;
  flex-direction: column;
  margin-top: 50px;
}

.inputBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}

.inputName {
  font-weight: 500;
  font-size: 13px;
}

.input {
  @include input-styles(right, $color-gray);
}

.buttonBlock {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 160px;
}
