@mixin input-font-styles($color) {
  font-weight: 500;
  font-size: 13px;
  color: $color;
}

@mixin input-styles($text-align, $color) {
  @include input-font-styles($color);
  border: none;
  text-align: $text-align;
  background-color: rgba($color: #000000, $alpha: 0);

  &:focus {
    outline: none;
  }
}
