@import "../../styles/constants.scss";

.messageOwner {
  width: max-content;
  max-width: 410px;

  padding: 15px;
  padding-right: 50px;
  margin-bottom: 10px;
  border: 1px solid $colot-white-gray;
  background-color: $color-light-white;
  border-radius: 12px;
  position: relative;
}

.messageText {
  margin: 0;
}

.time {
  position: absolute;
  bottom: 3;
  right: 14px;
  width: 23px;
  height: 9px;
  font-size: 9px;
  color: $color-gray;
}
